form {
  display: flex;
  height: 50px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px 0  rgb(143, 143, 143);
  transition: 0.2s ease-in-out;
  background: rgba(46, 46, 46, 0.842);
  border: 1.5px solid white;
  color:white;
  padding: 10px 3rem;
  margin: 10px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  gap: 25px;
}

input {
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 18px;
}